<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="template::header"></head>
<body>
<div th:replace="template::nav"></div>
<div id="wrapper">
    <div th:replace="template::sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <form action="#" th:action="@{/operator/save}" th:object="${operator}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col-sm-3">Name:</div>
                    <div class="col-sm-9"><input type="text" id="opName" th:field="*{name}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Source Type:</div>
                    <div class="col-sm-6">
                        <select class="form-control" id="sourceType" name="sourceType">
                            <option th:field="*{sourceType}" value="">Select Source Type</option>
                            <option th:field="*{sourceType}" th:each="test : ${types}"
                                    th:value="${test.id}"
                                    th:text="${test.typeName}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Return Type:</div>
                    <div class="col-sm-6">
                        <select class="form-control" id="returnType" name="returnType">
                            <option th:field="*{returnType}" value="">Select Return Type</option>
                            <option th:field="*{returnType}" th:each="test : ${types}"
                                    th:value="${test.id}"
                                    th:text="${test.typeName}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Template:</div>
                    <div class="col-sm-9"><textarea name="Text1" th:field="*{template}" id="template" cols="88"
                                                    rows="5"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Properties:</div>
                    <div class="col-sm-9">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                    class="fa fa-plus fa-2x"
                                    aria-hidden="true"></i></a></span>
                            <table id="properties_table" class="table table-bordered table-responsive-md table-striped text-center">
                                <tr>
                                    <th class="text-center">Property Name</th>
                                    <th class="text-center">Remove</th>
                                </tr>
                                <th:block th:each="item : ${operator.properties}">
                                    <tr class="properties_row">
                                        <td class="pt-3-half">
                                            <input type="hidden" th:field="*{properties[__${itemStat.index}__].id}" />
                                            <input type="text" th:field="*{properties[__${itemStat.index}__].name}"/>
                                        </td>
                                        <td>
                                        <span class="table-remove">
                                            <button type="button"
                                                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                        </span>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <input type="submit" value="Submit"/>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="template::scripts"></div>
</div>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.19/cytoscape.js"></script>-->
<script type="text/javascript" src="/js/createOperator.js"></script>
</body>
</html>
