<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="template::header"></head>
<body>
<div th:replace="template::nav"></div>
<div id="wrapper">
    <div th:replace="template::sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9" id="cy">
                </div>
                <div class="col-sm-2">
                    <div id="tools" class="col-sm-12">
                        <h3>Tools</h3>
                        <div id="tools_inner">
                        </div>
                    </div>
                    <hr>
                    <div id="props" class="col-sm-12">
                        <h3>Properties</h3>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Topic Name:</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Start From Begining:</td>
                                <td><input type="checkbox"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="template::scripts"></div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.19/cytoscape.js"></script>
<script type="text/javascript" src="/js/createApp.js"></script>
</body>
</html>
