KStream<${model.getPropertyInChain("keyType")}, ${model.getPropertyInChain("valueType")}> ${model.variableName} =
${model.parent.variableName}.flatMapValues(value -> $model.properties.flatMapValuesExpression);