KStream<${model.getPropertyInChain("keyType")}, ${model.getPropertyInChain("valueType")}> ${model.variableName} =
${model.parent.variableName}.groupBy((key, value) -> $model.properties.groupByExpression);


