h3 {
    color:#ddd;
}
#cy {
    border-right:2px solid #ddd;
}
#props td {
    font-size: 13px;
}
#props input[type='text']{
    width:80px;
}
#btnRemoveNode {
    margin-top:2px;
}
#btnSave {
    margin-right:1px;
}
.pt-3-half {
    padding-top: 1.4rem;
}
.form .row {
    margin-top: 2px;
}
.hide {
    display:none;
}